DATABASE_URL="postgresql://username:password@localhost:5430/databasename"

JWT_ACCESS_SECRET="really-secure-secret-phrase"
JWT_RESET_PASSWORD_SECRET="really-secure-yet-different-secret-phrase"

NODE_ENV="development" # or production

INIT_EMAIL="an@email.com"
INIT_PASSWORD="totallysecurepassword"