name: Node.js CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    
    - name: Setup Bun
      uses: oven-sh/setup-bun@v1
      with:
        bun-version: latest
    
    - name: Install dependencies
      run: bun install --frozen-lockfile

    - name: Build Paraglide
      run: bunx @inlang/paraglide-js@latest compile --outdir ./src/lib/paraglide
    
    - name: Run type checking
      run:  bun run check
    
    - name: Build project
      run: bun run build
      env:
        DATABASE_URL: postgres://placeholder:placeholder@localhost:5432/placeholder